<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Admin panel</title>
</head>

<body>
<!-- Реализация "шапки" админской панели -->
<div th:replace="~{/admin/header.html :: header (${userName.getName()}, ${userName.getRoles()})}"></div>

<!-- Реализация основного блока админской панели -->
<div class="container-fluid">
    <div class="row">
        <!-- Левая панель основного блока-->
        <div class="bg-white col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a class="nav-link active" href="/" role="tab">Admin</a>
                <a class="nav-link" href="/user/" th:if="${not #lists.isEmpty(allRoles)}">User</a>
            </div>
        </div>

        <!-- Основная панель с таблицей основного блока-->
        <div class="bg-light col-md-10">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new">New User</a>
                </li>
            </ul>
            <nav class="navbar navbar-light bg-light">
                                  <span class="navbar-text">
                                    All users
                                  </span>
            </nav>

            <table class="table table-striped table-hover table-condensed bg-white">

            </table>
        </div>
    </div>
</div>

<!-- Реализация модального окна удаления пользователя -->
<div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="text-center">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete user</h4>
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="container" style="max-width: 300px">
                            <div>
                                <label for="ID-del"><b>ID</b></label><br>
                                <input name="ID-del" type="text" id="ID-del" class="form-control text-center" readonly/>
                            </div>
                            <br>
                            <div>
                                <label for="Name-del"><b>Name</b></label><br>
                                <input name="Name-del" type="text" id="Name-del" class="form-control text-center" readonly/>
                            </div>
                            <br>
                            <div>
                                <label for="Surname-del"><b>Surname</b></label><br>
                                <input name="Surname-del" type="text" id="Surname-del" class="form-control text-center" readonly/>
                            </div>
                            <br>
                            <div>
                                <label for="Address-del"><b>Address</b></label><br>
                                <input name="Address-del" type="text" id="Address-del" class="form-control text-center" readonly/>
                            </div>
                            <br>
                            <div>
                                <label for="Password-del"><b>Password</b></label><br>
                                <input name="Password-del" type="text" id="Password-del" class="form-control text-center" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger" onclick="deleteUser()">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Реализация модального окна редактирования пользователя -->
<div>
    <div id="editModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="text-center">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit user</h4>
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="container" style="max-width: 300px">
                            <div>
                                <label for="ID-edit"><b>ID</b></label><br>
                                <input name="ID-edit" type="text" id="ID-edit" class="form-control text-center" readonly/>
                            </div>
                            <br>
                            <div>
                                <label for="Name-edit"><b>Name</b></label><br>
                                <input name="Name-edit" type="text" id="Name-edit" class="form-control text-center" />
                            </div>
                            <br>
                            <div>
                                <label for="Surname-edit"><b>Surname</b></label><br>
                                <input name="Surname-edit" type="text" id="Surname-edit" class="form-control text-center" />
                            </div>
                            <br>
                            <div>
                                <label for="Address-edit"><b>Address</b></label><br>
                                <input name="Address-edit" type="text" id="Address-edit" class="form-control text-center" />
                            </div>
                            <br>
                            <div>
                                <label for="Password-edit"><b>Password</b></label><br>
                                <input name="Password-edit" type="text" id="Password-edit" class="form-control text-center" />
                            </div>
                            <div>
                                <label for="Roles-edit"></label>
                                <select id="Roles-edit" name="Roles-edit" multiple="multiple">
                                    <option value="ROLE_ADMIN" >ROLE_ADMIN</option>
                                    <option value="ROLE_USER" >ROLE_USER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-info" id="editUserButton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Подключения JS и jQuery для Bootstrap'а-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    const table = document.querySelector('.table-striped')
    let localhost = 'http://localhost:8085/'
    let getUser = localhost + 'getUser/'

    //Заполнение таблицы allUsersTable
    let allUsersTable = ""
    let rolesTable = ""
    fetch(localhost + 'usersAll/')
        .then((response) => response.json())
        .then(data => {
            allUsersTable = '<tr>' + '<th>ID</th>' + '<th>Name</th>' + '<th>Surname</th>' + '<th>Address</th>' + '<th>Password</th>' + '<th>Roles</th>' + '<th>Edit</th>' + '<th>Delete</th>' + '</tr>'

            data.forEach (user => {user.roles.forEach (role => {rolesTable += role.role + " "})
                allUsersTable += '' +
                    "<tr>" + "<td>" + user.id + "</td>" + "<td>" + user.name + "</td>" + "<td>" + user.surname + "</td>" + "<td>" + user.address + "</td>" + "<td>" + user.password + "</td>" + "<td><div>" + rolesTable + "</div></td>"+
                    "<td><button type='submit' class='btn btn-info' data-toggle='modal' data-target='#editModal' onclick='getUserDetailEdit(" + user.id + ")'>Edit</button></td>"+
                    "<td><button type='submit' class='btn btn-danger' data-toggle='modal' data-target='#deleteModal' onclick='getUserDetailDel(" + user.id + ")'>Delete</button></td>"+
                    "</tr>"
                rolesTable= ''
            })
            table.innerHTML = allUsersTable
        })

    //Функция удаления пользователя через модальное окно
    function deleteUser(){
        $.ajax({
            type: 'DELETE',
            url: localhost + 'deleteUser/' + document.getElementById('ID-del').value,
            cache: false
        });
    }

    //Функция редактирования пользователя через модальное окно
    $("#editUserButton").click(function (event) {

        let info = {}

        info.id = $("#ID-edit").val()
        info.name = $("#Name-edit").val()
        info.surname = $("#Surname-edit").val()
        info.address = $("#Address-edit").val()
        info.password = $("#Password-edit").val()
        info.roles = []

        let rolesList = $("#Roles-edit").val()

        for (let i = 0; i < rolesList.length; i++) {
            if (rolesList[i] === 'ROLE_USER') {
                info.roles.push({
                    id: 2,
                    name: "ROLE_USER"
                })
            }
            if (rolesList[i] === 'ROLE_ADMIN') {
                info.roles.push({
                    id: 1,
                    name: "ROLE_ADMIN"
                })
            }
        }

        $.ajax({
            type: 'POST',
            url: '/updateUser/',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(info)
        })
    })

    //Вывод информации в модальное окно о текущем пользователе по ID для удаления
    function getUserDetailDel(id){
        $.getJSON(getUser + id, function (userInfo) {
            document.getElementById('ID-del').value = userInfo.id;
            document.getElementById('Name-del').value = userInfo.name;
            document.getElementById('Surname-del').value = userInfo.surname;
            document.getElementById('Address-del').value = userInfo.address;
            document.getElementById('Password-del').value = userInfo.password;
        })
    }

    //Вывод информации в модальное о текущем пользователе по ID для редактирования
    function getUserDetailEdit(id){
        $.getJSON(getUser + id, function (userInfo) {
            document.getElementById('ID-edit').value = userInfo.id;
            document.getElementById('Name-edit').value = userInfo.name;
            document.getElementById('Surname-edit').value = userInfo.surname;
            document.getElementById('Address-edit').value = userInfo.address;
            document.getElementById('Password-edit').value = userInfo.password;
        })
    }
</script>
</body>
</html>